<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/tailwind.css">
    <link rel="stylesheet" href="../../resources/css/dashboard/index.css">
</head>
<body>
    <header class="w-full flex bg-blue-500">
        <div class="logo-header w-6/12 h-full bg-black">
            <img src="" alt="">
        </div>
        <div class="Links-header w-6/12 h-full bg-fuchsia-500">   

        </div>
    </header>
    <main class="w-full  bg-green-700">

    </main>
</body>
</html>                                                                 